{% extends "base.html" %}
{% block content %}


<section class="section">
    
        <h1 class="title">Archives for {{ SITENAME }}</h1>
        
        <div class="columns is-multiline">
            {% for article in dates %}
                <div class="column is-one-quarter">
                    <article class="message is-primary">
                        <div class="message-header">
                            {{ article.locale_date }}
                        </div>
                        <div class="message-body">
                            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                                {{ article.title }}
                            </a>
                            
                            {% if article.summary %}
                            <div class="content">
                                {{ article.summary  }}
                            </div>
                            {% endif %}
                        </div>
                    </article>
                
                </div>
            {% endfor %}
        </div>
    
</section>
 
{% endblock %}
