<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        <link href="/images/favicon.png" rel="icon">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
        {% block head %}
        
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        {% if BULMASWATCH_THEME %}
            <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/{{BULMASWATCH_THEME}}.min.css" />
        {% else %}
            <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/default.min.css" />
        {% endif %}
        
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />

        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygments/{{ PYGMENTS_STYLE|default('native') }}.css" rel="stylesheet">
        
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        {% endblock head %}
</head>

<body>
    <section class="hero is-primary">
    <!-- Hero header: will stick at the top -->
    <div class="hero-head">
        <nav class="navbar  ">
            <div class="navbar-menu is-active">
                {% if SOCIAL %}
                <div class="navbar-end">
                    {% for name,url in SOCIAL %}
                    <a class="navbar-item" href="{{url}}">
                        <span class="icon"> <i class="fa fa-{{name}}"></i> </span>
                        {{name}}
                    </a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Hero content: will be in the middle -->
     <div class="hero-body">
            
             
             <div class="container has-text-centered">
               <p class="title is-1">{{ SITENAME}}</p>
               
               {% block content_title %}
                   
               {% endblock %}
             </div>
     </div>
     <div class="hero-foot">
         <nav class="navbar  ">
             
            <div class="navbar-brand is-active">
                <a href="/" class="navbar-item" >
                    {{ SITENAME}}
                </a>
            </div>
            <div class="navbar-menu is-active">
               <div class="navbar-start">
                   {% for title, link in MENUITEMS %}
                       <a class="navbar-item" href="{{ link }}">{{ title }}</a>
                   {% endfor %}
                   
                   {% if DISPLAY_CATEGORIES_ON_MENU %}
                       {% for cat, null in categories %}
                           <a class="navbar-item  {% if cat == category %} is-active {% endif %}" href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
                       {% endfor %}
                   {% endif %}
                   {% if DISPLAY_PAGES_ON_MENU %}
                       {% for p in PAGES %}
                           <a class="navbar-item   {% if p == page %} is-active {% endif %}" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
                       {% endfor %}
               
                   {% endif %}
                
               </div>
               
             </div>
           
         </nav>

     </div>
  </section>
  
  
  
  


  
      {% block content %}
      {% endblock %}

  
 
    
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    Powered by <a href="http://getpelican.com/">Pelican</a>, <a href="http://python.org">Python</a>, 
                    and <a href="http://bulma.io/">Bulma</a>
                </p>
                <p class="subtitle is-6">{{ SITESUBTITLE }}</p>
            </div>
        </div>
    </footer>
</body>
</html>
