{% extends "base.html" %}
{% block content %}



{% for article in articles_page.object_list %}
    <section class="section">
        
            
            <p class="title is-3">
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                    {{ article.title }}
                </a>
            </p>
            <p class="subtitle is-5">
                {{ article.locale_date }}
            </p>
            <hr>
            <div class="content ">
                {{ article.content }}

            </div>
        
    </section>
{% endfor %}

   

{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}


{% endblock content %}
