{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block content %}
    
    
    
    <section class="section">
        
            <h1 class="title">Tags</h1>
            {%- for tag, articles in tags|sort %}
                <div class="box">
                        <strong>
                            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})
                        </strong>
                    </div>
                
                
            {% endfor %}
            
            
    </section>
{% endblock %}
